<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-12">
        <ul>
            <li><h1>Estudio 1</h1> -
            <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab earum similique laborum quae ad dolores laboriosam placeat aliquam enim labore repudiandae repellendus quam qui suscipit culpa, eligendi fugiat, dignissimos odio?</p>
        </ul>
        <ul>
            <li><h1>Estudio 2</h1> -
            <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab earum similique laborum quae ad dolores laboriosam placeat aliquam enim labore repudiandae repellendus quam qui suscipit culpa, eligendi fugiat, dignissimos odio?</p>
        </ul>
        <ul>
            <li><h1>Estudio 3</h1> -
            <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab earum similique laborum quae ad dolores laboriosam placeat aliquam enim labore repudiandae repellendus quam qui suscipit culpa, eligendi fugiat, dignissimos odio?</p>
        </ul>
    
    </div>
    </div>
    
