<div class="general">
    <div class="row">
        <h1>PROYECTOS REALIZADOS <span class="bi bi-journal-bookmark"></span></h1>

        <div class="contenedor">
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
               <h1>PROGRAMA EN C++ DE GESTION COMERCIAL</h1>
            </div>
               <p>
                Este proyecto fue desarrollado como una prueba para un negocio con el objetivo de crear
                 un sistema de gestión eficiente que permita llevar un control completo del inventario,
                  usuarios y stock. Para lograr esto, se diseñó y desarrolló un sistema de gestión con 
                  una interfaz intuitiva y fácil de usar que permite a los usuarios administrar y 
                  actualizar el inventario, agregar nuevos productos, eliminar los que ya no se venden
                   y realizar seguimiento del stock disponible. Además, se creó un sistema de usuarios
                    con diferentes roles y permisos para garantizar la seguridad y privacidad de la 
                    información. Este proyecto se enfocó en ofrecer una solución de software que sea altamente personalizable y escalable para adaptarse a las necesidades de cualquier negocio y mejorar sus operaciones diarias
               </p>

              
                <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1" >
                    <a href="https://github.com/uqzshurez/sistemadegestion" target="_blank">
                        <img src="../../../assets/softgestion.jpg" class="img-fluid img-proyecto" alt="Descripción de la imagen">
                      </a>
                </div>



        
</div>
</div>
