
<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img src="../../../assets/perfilFoto.jpeg" class="img-fluid" id="fotodeperfil">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <h1>Leandro Nahuel Gimenez</h1>
      <p>Full Stack Developer Jr</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <span>
          <h1 id="name">Acerca de mí</h1>
          <p>Mi nombre es Leandro Nahuel Gimenez. Vivo en Tucumán, Argentina, en un pueblo chico donde la tecnología a veces está muy privada con respecto a otras ciudades. Desde pequeño que estoy acostumbrado a estar con computadoras, a desarmarlas, a indagar todo de ellas por la influencia de mi papa. Siempre supe que la informática y la tecnología iban a ser lo mío por que caminamos juntos de la mano. Tuve varias situaciones en la vida en donde pensé… ¿Y si este “X” problema se pudiera resolver de otra forma? ¿Y si pudiéramos acudir a la tecnología para desarrollar la solución? Y fue ahí cuando decidí dedicarme a solucionar problemas, a encontrar la solución con ayuda de un lenguaje de programación.</p>
      </span>
  </div>
</div> 