<!-- ORIGINAL
<div class="row">
<footer>
    <p>Gimenez Leandro Nahuel | Argentina Programa 2023</p>
    <p>Juan Bautista Alberdi, Tucuman, Argentina.</p>
</footer>
</div>
-->
<div class="footer wow fadeIn" data-wow-delay="0.3s">
    <div class="container-fluid">
        <div class="container">
            <div class="footer-info">
                <h2>Leandro Gimenez</h2>
                <h3>Juan Bautista Alberdi, Tucuman, Argentina</h3>
                <div class="footer-menu">
                    <p>+54 9 3865 213455</p>
                    <p>shurezpay@hotmail.com</p>
                </div>
                <div class="footer-social">
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-youtube"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="container copyright">
            <p>&copy; <a href="#">Mi Portafolio web</a>, Todos los derechos reservados |</p>
        </div>
    </div>
</div>