<div class="row">
   <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <div>
                <a href="https://www.linkedin.com/in/leandro-nahuel-gimenez-881055234/" target="_blank"><img src="../../../assets/linkedin.png" id="linkedin"></a>
                <a href="https://twitter.com/LeanShurez" target="_blank"><img src="../../../assets/twitter.png" id="twitter"></a>
                <a href="https://www.instagram.com/leanggimenez/" target="_blank"><img src="../../../assets/instagram.png" id="instagram"></a>
                <a href="https://github.com/uqzshurez" target="_blank"><img src="../../../assets/github.png" id="github"></a>
                <a href="https://www.facebook.com/Nagux.Gimenez/" target="_blank"><img src="../../../assets/facebook.png" id="facebook"></a>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged" >Ingresar</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogout()"*ngIf="isLogged" >Cerrar Sesion</button>
            </div>
            <div class="boton">

            </div>
            
        </div>

   </div>


</div>


